*.egg-info
*.so
**/build/
__pycache__/
compile.txt
compile.log
result*.txt
run.txt
**/dist/
*.egg
*.ncu-rep
old/
results/
downstream/
downstream2/
downstream3/
sparse_logs/
compile.*
./end_to_end_test/online/*.json